{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Ваши заметки</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}
<!--
HTML-шаблон, расширяющий базовый шаблон base.html и определяющий содержимое блока content.
Код генерирует список заметок, используя цикл for. Для каждой заметки создается элемент списка <li>,
содержащий данные заметки и кнопку для её удаления. При нажатии на кнопку вызывается функция deleteNote, передающая идентификатор заметки.
Форма предназначена для добавления новых заметок. Пользователь вводит текст в текстовое поле <textarea>,
а затем нажимает кнопку "Add Note", чтобы отправить форму методом POST.
-->